[2016-04-01 09:31] marie-ototoi opened #1 "SKOS concept schemes should contain top concepts"
- Either as a property of the ConceptScheme using [skos:hasTopConcept](https://www.w3.org/2009/08/skos-reference/skos.html#hasTopConcept)
- or as a property of the Concept using [skos:topConceptOf](https://www.w3.org/2009/08/skos-reference/skos.html#topConceptOf)

If possible, the second option is preferred for display in VIZSKOS.
- [x] Derivation --> all nodes are TopConcepts
- [x] Genre --> all

[2016-04-01 10:07] marie-ototoi commented on #1
Note: `skos:topConceptOf` is a specific property of `skos:inScheme`, no need to have both when it's a TopConcept

[2016-07-01 07:53] marie-ototoi opened #2 "Missing broader and narrower relations in the IAML MOP vocab"
In IAML Musical Instruments: https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/iaml.ttl

[2016-07-08 12:02] pasqLisena commented on #1
If there is no hierarchy, everything is a TopConcept-s. Updated the description of the issue.

[2016-07-27 15:34] pasqLisena opened #3 "[MoP] Mapping "unspecified" labels"
Simpler for me explaining with an example.

In MARC file, you can find as medium of performance `orchestra`.
In the vocabulary, there is `orchestra - unspecified`, that conceptually should be the same.

The String2URI fails in this case.

Probably this problem will disappear when we will complete the alignment for the MoP (so more labels will be available). But we should keep in mind this possible

[2016-07-28 07:31] rtroncy commented on #3
For the medium of performances, the source data in MARC makes use of labels or of codes? Does this vary depending if it comes from Philharmonie or BnF? In your example, this was Intermarc or Unimarc?
I agree, when the vocabulary will be aligned and consolidated, the problem should be resolved but this is useful to keep it in mind.

[2016-07-28 08:14] pasqLisena commented on #3
Both PP and BnF, both Intermarc and Unimarc, make use of labels in French (actually the problem was between `orchestre` and `orchestre - non spécifié`).

[2016-08-17 15:51] #2 closed, assigned to pasqLisena

[2016-08-23 07:19] pasqLisena commented on #3
As proposed by @marie-ototoi, we can remove the `- unspecified` part, because we defined broader/narrower relationship (see #2 ).

[2016-08-25 13:13] pasqLisena opened #4 "[Keys] Use more transparent URIs and include some alignments when possible"
In the [keys vocabulary](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/key.ttl), we have records in this format

[code]

I propose to change the URI on the base of the UNIMARC code:

[code]

---

Moreover, I put also attention on the MusicOntology version of the [keys vocabulary](http://purl.org/NET/c4dm/keys.owl). I put an example in n3 for readability.

[code]

Mode and

[2016-08-25 20:12] rtroncy commented on #4
+1 for making the URIs more transparent and for adding alignments when necessary

[2016-09-05 16:25] pasqLisena opened #5 "[MoP] Modification regarding language code and editorial notes"
- [x] **1 Return "pinyin" back to `oth`.**

on line 1355 of mediumofperformace_utf8.xls, it is specified the language “pinyin” (probably added by us). The note specifies that is a transliteration of Chinese (https://en.wikipedia.org/wiki/Pinyin), but the code “pny” refers actually to a language from Cameroon (https://en.wikipedia.org/wiki/Pinyin_language). My proposal is to replace it with “zhx“,

[2016-09-07 08:02] marie-ototoi commented on #5
Pasquale,
I don't think "original language" is  the right interpretation either, the thing is stating that "a language is globally preferred" does not make sense
- first in the original database it is a specific term (in a specific language) that is flagged, not the language
- then whatever this flag really means, "globally preferred" is not understandable

[2016-09-07 11:18] pasqLisena commented on #5
@marie-ototoi we agree :)
Are you still waiting for a clarification from Massimo on this point, right?

[2016-09-07 12:11] marie-ototoi commented on #5
Yes, he is on holidays, so this would be in October, but it is only a note, so it should not delay the alignment work.

[2016-09-08 12:07] #4 closed, assigned to pasqLisena

[2016-09-08 12:39] rtroncy commented on #4
Was the .ttl modified by hand or did you made some modifications to other resources as well (speadsheet? open refine project?)

[2016-09-08 12:41] pasqLisena commented on #4
Open Refine.

I saved the new project on Google Drive (modelisation/referetiels/mise en commun).

[2016-09-08 13:24] pasqLisena opened #6 "[Derivation] Transparent URIs and translations."
I think that also the derivation vocabulary should have transparent URIs (like we did with keys in #4 ).
### New uris

We should base on the english term (that is almost everywhere similar to the french one also).

Example:

[code]

will gain as new URI

[code]
### Missing translations

Some translations (in particular for 3 concepts) are missing.

In the [spreadsheet](https://docs.google.com/spre

[2016-09-08 14:06] rtroncy commented on #6
+1 for the new transparent URI using English terms.

+1 for adding the 3 missing translations of 'Parodie', 'Reconstruction' and 'Réminiscence'

+1 for correcting the wrong translation of 'Reduction'

Yes, in SKOS, you can multiple narrower / broader statements. @marie-ototoi Do you confirm you would like to see those relationships?

[2016-09-08 14:14] marie-ototoi commented on #6
The best is to discuss this with the group at the next meeting, since Pasquale will be there.
I added it to the program https://docs.google.com/spreadsheets/d/1cXd5oBG2iF8IiwIYplbSn_UkRG5TtEaCGHj-6X6BY20/edit#gid=0

[2016-09-09 14:10] pasqLisena commented on #6
I added the missing translations on the [Google Sheet](https://docs.google.com/spreadsheets/d/18Upf6MC7BbCCRRhwlSywHc_yvPzp2M0-EHdlSTWR8yY/edit#gid=0). I added also some Italian `altLabel`.

My modification have the yellow bg, I would validate them at the meeting.

[2016-09-16 16:21] VladimirAlexiev commented on #5
The correct lang tag is zh-Latn-pinyin:
- IANA uses 2-letter codes where available
- Latn indicates the script
- pinyin indicates the transliteration method

See
- http://vocab.getty.edu/doc/#GVP_Language_Tags
  -[IANA tags](https://docs.google.com/spreadsheets/d/1M1yv9aBUmc-NyCJX69vOLUmH2uIglSwmDwgRgByI1AI/edit#gid=2001354273) obtained with the script described in the above link

[2016-09-16 16:22] VladimirAlexiev opened #7 "[MoP] indicate Script in the lang tag"
[iaml.ttl#L82](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/iaml.ttl#L82):

[code]

But because the first label is in transliterated Greek, it should indicate the script like so:

[code]

[2016-09-16 16:33] VladimirAlexiev opened #8 "Two ConceptSchemes in iaml.ttl?"
[iaml.ttl](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/iaml.ttl#L6211) has two concept schemes, eg

[code]

Is it really the intention to have two schemes? While not illegal, I think this will confuse existing TMS (thes mgmt systems). The only example I am aware of is EuroVoc which has 2 schemes for each concept (EuroVoc and a microthesaurus thereof). But above the situa

[2016-09-16 16:38] VladimirAlexiev opened #9 "mode.ttl uses literal not URL for topConceptOf"
[mode.ttl](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/mode.ttl#L11):

[code]

A simple syntax mistake: the latter should be URL not literal.

Also, I think it's better to have a trailing slash in the scheme since then one can use prefix notation to refer to both concepts and the scheme (with empty local-name). Eg in turtle (but same applies to sparql):

[code]

GVP uses

[2016-09-19 07:51] pasqLisena commented on #8
Thank you @VladimirAlexiev!
This has been caused by a (clearly not completely performed) renaming of the schema. Going to fix it.

[2016-09-19 09:28] pasqLisena commented on #7
Actually, there are lots of cases like that. We should find an automatic way for detecting them.

Having a list of the languages which use the latin alphabet, we can mark with "-Latn" all the language tag that: 1. should use a different alphabet, AND 2. are using the latin one.

@VladimirAlexiev based on this [table](https://docs.google.com/spreadsheets/d/1M1yv9aBUmc-NyCJX69vOLUmH2uIglSwmDwgRgByI1

[2016-09-19 09:57] #8 closed, assigned to pasqLisena

[2016-09-19 11:34] rtroncy commented on #7
I would only mark the resources that don't use the Latin alphabet.

[2016-09-19 11:37] pasqLisena commented on #7
I was not clear, added an _AND_ in the previous comment.
So, we will mark all the translitterated labels.

[2016-09-23 11:13] VladimirAlexiev commented on #7
Yes, "suppress script' says which script it's preferable to suppress, because it's default for that language.

[2016-09-23 11:23] VladimirAlexiev commented on #9
@pasqLisena Not fixed:
- Trailing slash is used inconsistently:

[code]
- have you checked this for all schemes? (I read only the start of the commit, and it talks only about the /mode scheme)

Cheers!

[2016-09-23 12:13] pasqLisena commented on #9
It is right, I checked only on the mode scheme. I am planning in the beginning of the next week a complete revision of them.

[2016-10-04 09:35] marie-ototoi opened #10 "Publier les référentiels en json-ld pour faciliter la consommation par vizskos"
Vizskos prend du json-ld en entrée, il peut le récupérer dans le sparql endpoint quand les référentiels seront publiés, ou bien charger un fichier de fallback

[2016-10-04 10:15] rtroncy commented on #10
Les données des référentiels sont déjà chargées dans le SPARQL endpoint. Exemple (trouver tous les concepts dans le référentiel des genres) [résultats](http://data.doremus.org/sparql?default-graph-uri=&query=select+%3Fs+%3FprefLabel+%3FaltLabel+%0D%0Awhere+%7B+%0D%0A+%3Fs+a+skos%3AConcept+.%0D%0A+%3Fs+skos%3AinScheme+%3Chttp%3A%2F%2Fdata.doremus.org%2Fvocabulary%2Fgenre%3E.%0D%0A+%3Fs+skos%3AprefL

[2016-10-06 15:42] pasqLisena commented on #10
Hello @marie-ototoi,
I materialized the vocabularies.

Example:
http://data.doremus.org/vocabulary/key

Setting the `Accept` HTTP Header you can select the format.

Example:

[code]

Is it enough? If yes, close the issue please :)

[2016-10-09 18:32] #6 closed, assigned to pasqLisena

[2016-10-10 12:38] #9 closed, assigned to pasqLisena

[2016-12-05 14:24] pasqLisena opened #11 "[keys] Mapping to IFLA and unifying English labels"
- [x] Add mapping to  [IFLA keys vocabulary](http://metadataregistry.org/concept/list/vocabulary_id/445.html).
- [x] Modify the OpenRefine project to remove the variants `en-us` and `en-gb` (following the spreadsheet)

[2016-12-05 14:25] pasqLisena opened #12 "[Derivation] Align "reminiscence" labels to the spreadsheet"
Modify the OpenRefine project for using the labels in the spreadsheet

[2016-12-05 14:53] pasqLisena opened #13 "[IAML MoP] Alignment to IFLA published vocabulary"
- [x] define all concepts in our own namespace: `<http://data.doremus.org/vocabulary/iaml/mop/>`
- [x] align to IFLA choices about code
- [x] align to IFLA choices about hierarchy
- [x] add ```skos:exactMatch``` to IFLA

[2016-12-05 15:31] pasqLisena opened #14 "[IAML genres] Alignment to IFLA"
- [x] add ```skos:exactMatch``` to IFLA

[2016-12-05 15:43] #11 closed, assigned to pasqLisena

[2016-12-05 15:49] #12 closed, assigned to pasqLisena

[2016-12-05 15:50] pasqLisena commented on #1
I close this because it was already solved

[2016-12-05 15:50] #1 closed, assigned to pasqLisena

[2016-12-05 23:00] rtroncy commented on #10
@pasqLisena Does your deployment script re-materialize the vocabularies in json-ld after each deployment (or when the vocabularies are changed)?

[2016-12-06 08:43] pasqLisena commented on #10
Yes, it is just a setting of Virtuoso

[2016-12-06 08:48] #10 closed, assigned to pasqLisena

[2016-12-06 10:37] #14 closed, assigned to pasqLisena

[2016-12-06 11:51] #3 closed, assigned to pasqLisena

[2016-12-06 11:51] #5 closed, assigned to pasqLisena

[2016-12-06 13:58] #13 closed, assigned to pasqLisena

[2016-12-06 16:24] rtroncy opened #15 "[Radio France] Convert musical genres and instruments in SKOS for the alignment"
In both cases, a spreadsheet is provided so OpenRefine can be used.
* Musical Genres: the source data is at https://drive.google.com/file/d/0B_6mSQxUBpLoU014MUg2Z2QxcTg/view. I suggest to use the URI pattern: http://data.doremus.org/vocabulary/rf/genre
* Instruments: the source data is at https://drive.google.com/file/d/0B_6mSQxUBpLoc1ZvMmhqMGtQVms/view. I suggest to use the URI pattern: http://da

[2016-12-06 18:57] rtroncy commented on #15
Sémantique genres et instruments :
-  DE (Descripteur) ... ```skos:prefLabel```
-  TG : Terme Générique ... ```skos:broader```
-  TS : Terme Spécifique ... ```skos:narrower```
(il y a donc TG et TS (en symétrie) pour re-créer la hiérarchie)
-  Synonyme : ```skos:altLabel``` (quand il y en a plusieurs, ils sont sur plusieurs lignes de la colonne D et le prefLabel n’est pas répété dans la colonne A)

[2016-12-07 11:21] pasqLisena commented on #15
closed in e6d00b4b04a8dcc2c17f6ef91bf07f998ee33e40 and 33ebd7a9563cb015d9ec69ed822a14a3cb813fc9

[2016-12-07 11:21] #15 closed, assigned to pasqLisena

[2016-12-17 13:02] rtroncy opened #16 "Managing the plural form of terms in controlled vocabularies"
There is a need to explicitly represent the plural form of skos concepts in our controlled vocabularies across the languages. Hence:
 * When converting the data and parsing free text to disambiguate the name of an instrument (e.g. ```2 pianos```)
* When displaying the data in a user interface (e.g. in [Overture](http://overture.doremus.org/))

Best practices for managing the plural form of terms v

[2016-12-20 10:44] rtroncy opened #17 "Removing the language tag for all terms in the RB Diabolo MoP vocabulary"
As pointed out by @kgtodorov and confirmed by Martine, the labels used for naming the instruments in the Diabolo database are not necessarily written in French but can be provided in English (e.g. when the source is the Grove Dictionary of Musical Instrument). We better not try to language tag those terms.

Consequently, @pasqLisena, please modify the OpenRefine project and remove the ```@fr``` la

[2017-01-02 15:57] rtroncy opened #18 "[Radio France] Produce the MoP + Genre controlled vocabularies for REDOMI"
Since the sources are spreadsheets, I recommend to create appropriate OpenRefine projects

Genres musicaux
* Source : https://drive.google.com/file/d/0B_6mSQxUBpLoUlRtSV9QYkh4MTA/view
* URI pattern: http://data.doremus.org/vocabulary/redomi/genre/

MoP:
* Source: https://drive.google.com/file/d/0B_6mSQxUBpLoZjRuTGF2Y2VQTUE/view
* URI pattern: http://data.doremus.org/vocabulary/redomi/mop/

Semanti

[2017-01-02 17:13] rtroncy opened #19 "[Radio France] Produce the MoP + Genre controlled vocabularies for ITEMA3"
Since the sources are XML files, the conversion might need to code some lightweight scripts.

Waring: the accentuated characters seem to be ampersand escaped as HTML entities.

Genres musicaux
 * Source: https://drive.google.com/file/d/0B07-9WSsWiOuUG5RUG56ZXRtS1k/view
 * URI pattern: http://data.doremus.org/vocabulary/itema3/genre/

MoP:
 * Source: https://drive.google.com/file/d/0B07-9WSsWiOuNnJ

[2017-01-02 17:27] rtroncy opened #20 "[Rameau] Re-construct a single Genre controlled vocabularies from RAMEAU"
The idea is to get a single SKOS file (encoded in Turtle) containing the useful concepts describing musical genres that come from [RAMEAU](http://rameau.bnf.fr/informations/produits.htm#rameauformatrdfskos).

Sources:
* An excel file prepared by Frédéric containing 684 terms, see https://drive.google.com/file/d/0B5xduP7QwIkOcTlSVnVfdVR2b3c/view
* An excel file prepared by Frédéric containing 288 t

[2017-01-04 10:11] pasqLisena commented on #20
If it can be useful, there is already a NodeJS [script](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/scripts/rameau-groups-script.js) that i used to perform a similar task.

Briefly, it read a [csv](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/raw-data/rameau.groups.txt) (trivial conversion of the excel files) and read the code from each line.
The code is the

[2017-01-04 10:51] #17 closed, assigned to pasqLisena

[2017-01-04 13:28] #18 closed, assigned to pasqLisena

[2017-01-04 13:53] #19 closed, assigned to pasqLisena

[2017-01-05 17:10] #7 closed, assigned to pasqLisena

[2017-01-17 13:41] manoach commented on #20
In the generated vocabulary [rameau.genres.ttl](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/rameau.genres.ttl), there are only 670 terms because in the [excel file](https://drive.google.com/file/d/0B5xduP7QwIkOcTlSVnVfdVR2b3c/view) there are:

- 1 blank row;
- 13 genres without BNF identifier:
Bombas
Norteño (musique)
Octuors de jazz
Old time (musique)
Opéras télévisés
P

[2017-01-17 14:18] rtroncy commented on #20
Thanks for the investigation @manoach. We will ask Frédéric to further complete the Excel sheet (provide the 13 missing ark) during this week DOREMUS meeting

[2017-01-17 14:55] pasqLisena commented on #20
@manoach have you committed the final script for the generation of rameau.genres.ttl ?
I am trying the one in the script folder (rameau-genre-script.js) but I think that it is not the last version.

[2017-01-17 15:05] manoach commented on #20
@pasqLisena, yes, I did it. After running [rameau-genre-script.js](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/scripts/rameau-genres-script.js), the [genres-rameau-post-script](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/scripts/genres-rameau-post-script.js) must be executed for rebuilding the URIs.

[2017-01-17 17:09] pasqLisena commented on #20
Ok, now I see.

We should have an agreement on the uri policy because they are not coherent:
* For [genres](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/rameau.genres.ttl) is `http://data.doremus.org/vocabulary/rameau/genre/<label>`
* For [mop](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/mop-rameau.ttl) is `http://data.bnf.fr/ark:/12148/<ark_num

[2017-01-18 10:34] rtroncy commented on #20
If the dump is an exact subset of the RAMEAU dump, and if we are not adding any new statements, then we should not mint new URIs for those concepts. I would therefore keep [mop](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/mop-rameau.ttl) like this and modify the genre thesaurus and not creating new URIs to identify existing concepts but re-use ark identifier. Between, th

[2017-01-18 21:44] manoach commented on #20
In the [alignements file](https://drive.google.com/file/d/0B5xduP7QwIkOLVZjZldCaTJhelE/view) there are:

- 1 concept from RAMEAU without BNF identifier : [**_Gagaku_**]

- 1 concept [**_Boogie-woogie_**] with a BNF identifier (**12290265**) but without ARK identifier. The SPARQL query gives no [result](http://data.bnf.fr/sparql?default-graph-uri=&query=SELECT+%3FidArk%0D%0AWHERE+%7B%0D%0A+++%3FidA

[2017-01-20 10:12] pasqLisena opened #21 "Create MODS of Catalogs"
We should create the MODS of Catalog Names starting from the [spreadsheet](https://docs.google.com/spreadsheets/d/1BaluYvqmCTI04ALpiyobjbKWOb2k8KKa04VqasL4xL0/edit#gid=0).

[2017-01-20 10:26] pasqLisena opened #22 "Validation des alignements des genres musicaux"
Realise a Turtle file that contains the validated "exactMatch" between the musical genres

## RoadMap
- [x] @kgtodorov Produce and validate the alignments

[2017-01-20 10:27] pasqLisena opened #23 "Validation des alignements des MoPs"
Realise a Turtle file that contains the validated "exactMatch" between the MoPs

## RoadMap
- [x] @pasqLisena Produce the ttl dump of the MIMO vocabulary
- [x] @kgtodorov Produce and validate the alignments

[2017-01-24 13:26] kgtodorov commented on #20
@manoach the genre-rameau vocabulary appears to have a problem. We have for all entities

  <http://data.bnf.fr/ark:/12148/cb11963474g> a skos:Concept ;
          rdfs:seeAlso <http://catalogue.bnf.fr/ark:/12148/cb11963474g> ;
          = <http://stitch.cs.vu.nl/vocabularies/rameau/ark:/12148/cb11963474g> ;
while we just need a comma instead of "; = ".

[2017-01-24 13:51] pasqLisena commented on #20
rdfs:seeAlso http://catalogue.bnf.fr/ark:/12148/cb11963474g ;
= http://stitch.cs.vu.nl/vocabularies/rameau/ark:/12148/cb11963474g ;
while we just need a comma instead of "; = ".

The fact is that `=` is a short form for `owl:sameAs` in Turtle.

[2017-01-24 14:16] kgtodorov commented on #20
Yeah but seems that Jena is not supporting this shortcut.

"Fail Loading files in Jena: com.hp.hpl.jena.n3.turtle.TurtleParseException: Line 18, column 5: = (owl:sameAs) not legal in Turtle"

[2017-01-24 14:35] kgtodorov commented on #22
@pasqLisena In the skosification process, I think it is preferable not to include the "&" character in the URIs, as is the case for the "r&b" genre in diabolo and redomi unless it is encoded. Or else, simply use "rnb" instead of "r&b" for the genre URIs.

[2017-01-24 16:08] pasqLisena commented on #22
I see, I will change it in the next export (very soon).

[2017-01-24 17:27] rtroncy commented on #20
@kgtodorov Change your turtle parser ;-)

[2017-01-24 17:30] pasqLisena commented on #20
Well, it is a trivial modification, we can do it :)
I had the same problem of Konstantin also.

[2017-01-24 17:40] rtroncy commented on #22
This calls for a generic strategy to handle special characters in URIs. How many cases do we have? Is the ampersand the only case? How many special characters are being used?
For ampersand, I would prefer we replace the ```&``` by ```and``` rather than ```n```

[2017-01-24 17:54] kgtodorov commented on #22
Agreed.

Well, the commonly accepted written reference to this particular genre is RnB just like one often writes Rock'nRoll or Rhythm'nBlues (https://fr.wikipedia.org/wiki/Rhythm_and_blues). Once we have the inventory of special characters we can decide.

[2017-01-24 17:56] rtroncy commented on #22
Yes for the labels, but look at what wikipedia is doing in its url :-)

[2017-01-24 18:00] kgtodorov commented on #22
Oh yes! Beautiful example. :)

[2017-01-24 18:01] kgtodorov commented on #22
And a counter one  https://fr.wikipedia.org/wiki/RnB_contemporain.

[2017-02-03 11:08] pasqLisena commented on #21
Some lines in the spreadsheet (43 + 44 and 87 + 88) refers to **different version of the same catalog**.

**How should we manage them?** Some options:
1. Model them as a single `ModsResource`
2. Link them with one of the following properties:
    1. [modsrdf:relatedSucceeding](http://www.loc.gov/standards/mods/rdf/v1/#relatedSucceeding) - Relates the described resource to a another MODS resource w

[2017-02-03 17:56] pasqLisena commented on #21
Things missing in the spreadsheet that I found in the data (and in wikipedia):

* Kobylanska catalog has identifier `KK` - see [wikipedia](https://en.wikipedia.org/wiki/Mazurkas_(Chopin)#List_of_mazurkas)
* Kochel catalog for Mozart has double identifier `KV` and `K` - see [wikipedia](https://en.wikipedia.org/wiki/Köchel_catalogue)
* Charpentier catalog has identifier `H` - see [wikipedia](https:/

[2017-02-15 17:12] pasqLisena opened #24 "Metadata of Vocabularies"
We should add metadata to our vocabularies. In particular:
- `dct:creator` : `http://data.doremus.org/organization/DOREMUS` (add it on the [organization file](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/data/organization.ttl))
- `dct:modified` : date of today
- `rdfs:label` where missing

[2017-02-15 21:35] rtroncy commented on #24
+1 for creating an URI in our namespace to identify the organization and to add more information such as the ```foaf:homepage``` of the organization.

[2017-02-16 10:54] rtroncy commented on #21
Can we rather use `mods` instead of `modsrdf` as prefix for `<http://www.loc.gov/standards/mods/rdf/v1/#>` ?

The value of ```dcat:accessURL``` should probably be updated afterwards with the real URI where the vocabulary will be deployed rather than using the rawgit pattern

[2017-02-16 13:35] pasqLisena commented on #21
Yes, we can but the default prefix is `modsrdf` (see documentation at http://www.loc.gov/standards/mods/rdf/v1/# ).

[2017-02-16 14:03] rtroncy commented on #21
OK, forget what I said :-) I should have checked. MODS is **not** in LOV :-(

[2017-02-22 09:32] pasqLisena commented on #21
- [ ] for Mozart, try to map also with titles/opus number using [wikipedia](https://fr.wikipedia.org/wiki/Catalogue_K%C3%B6chel?oldformat=true)
- [ ] for Debussy, it is always the last one

- [x] Use `mods:relatedVersion`

- [x] Add them in the vocabulary

- [x] Consider if there is a property like "alternateIdentifier"
- [x] Add them in the vocabulary

see also https://docs.google.com/document/d/

[2017-02-23 10:36] #21 closed, assigned to pasqLisena

[2017-02-27 11:31] delahousse opened #25 "Blank node are doubled in the triple store"
Hello
when retrieving data about "sonate au clair de lune" we noticed all rdf triples are doubled for blank nodes.
see file attached
[RDF graph_Musical composition_NATIF.txt](https://github.com/DOREMUS-ANR/knowledge-base/files/803470/RDF.graph_Musical.composition_NATIF.txt)

[2017-02-27 12:16] pasqLisena commented on #25
Thanks for raising this issue :)

This bug is already solved in the code, and will be available online in the next release of data.

[2017-02-27 12:16] #25 closed, assigned to pasqLisena

[2017-02-27 12:42] delahousse opened #26 "Property P102_has_title without language indication"
We do not find the language indication on the property P102_has_title, is it possible to add it. This information is available in BnF notice.

[2017-02-27 16:14] pasqLisena commented on #26
Hello @delahousse,
thanks for the issue. However the issues about the data conversion should be opened in the [marc2rdf repo](https://github.com/DOREMUS-ANR/marc2rdf/issues).

Finally, this bug is solved in [latest commit](https://github.com/DOREMUS-ANR/marc2rdf/commit/21f66a30b062e98d6ae1ab1d63af1838e5ebeb19).

[2017-02-27 16:14] #26 closed, assigned to pasqLisena

[2017-02-27 16:19] delahousse opened #27 "M15_Dedication and M15_DedicationStatement"
Hello
In the graph we find class M15_Dedication and in the doremus owl file M15_Dedication_Statement
Can you unify and confirm the use of one or the other ?

[2017-02-27 16:24] pasqLisena commented on #27
Hello @delahousse,
yes, it is a recent change in the ontology naming. There are few additional ones, and all are already in sync with `marc2rdf`. Next release of data will fix this problem

[2017-02-27 16:24] #27 closed, assigned to nobody

[2017-02-27 16:28] delahousse opened #28 "P82_at_sometime_within: difficulty in making sparql query"
Do you know how we can query property `ecrm:P82_at_some_time_within	"18010101/18011231"^^dct:W3CDTF` ? For example to find all musical works created in the year 1801 ? or to find all musical works created on 3/10/1801 ?

Is is a good idea to use `dct:W3CDTF` format ?

Below an example:
[code]

[2017-02-27 16:36] pasqLisena commented on #28
We already had exactly this doubts last week with @rtroncy, having the same difficulties.
We consequently modified the representation of time spans.

Here you can find an example of how Time Spans look like now (next release):

[code]

[2017-02-27 16:47] pierrechoffe commented on #28
@pasqLisena careful, careful : in CRM the properties _P79 beginning is qualified by_ and _P80 end is qualified by_  are not supposed to be used this way. The range is explicitly a string and the scope note states _"This property qualifies the beginning of an E52 Time-Span in some way. The nature of the qualification may be certainty, precision, source etc"._

The example is :
the time-span of the

[2017-02-27 16:52] pasqLisena commented on #28
This example is not so clear, there are some example in RDF / TTL / JSON-LD ?
It is very difficult to find how others use them for real.

[2017-02-27 16:57] delahousse commented on #28
Yes, but when CRM is not really usable for sparql queries of the graph it is a real problem.
We could go back to CRM team to explain our use case about querying data, which is quite a good use case for open data publication.
We also could have two representations of the same data, one to be conform with CRM but the data is not really usable, and one to be able to process the data... but it is quit

[2017-02-27 17:43] pasqLisena commented on #28
I hope to put everything up for the beginning of the next week.

They are currently using deprecated properties of CRM.

[2017-02-27 19:14] rtroncy commented on #28
I'm also in favor of a pragmatical interpretation of the CRM properties which are then usable. Note @pierrechoffe that date (as defined in XML Schema) are strings too thus we are not violating the ontology (formally).

[2017-02-27 19:38] pierrechoffe commented on #28
@rtroncy you know better :) but aren't there any generic rdf properties that could be used ?

[2017-02-27 21:07] delahousse commented on #28
It's what Raphael and Pasquale did in fact
It s CRM which does not conform to best practices

[2017-02-27 21:08] delahousse commented on #28
Perfect
Tell us

[2017-02-27 23:31] delahousse commented on #28
Salut

xsd:gYear, xsd:date... sont des troncatures de xsd:dateTime
https://www.w3.org/TR/xmlschema-2/#isoformats

Dans Protégé seul xsd:dateTime est disponible comme datatype.

Dans le cadre de l'ontologie juridique de l'Europe on s'était déjà posé
cette question de format de date et finalement nous avons utilisé
xsd:dateTime partout. L'utilisation de xsd:dateTime permettant de décrire
des dates/h

[2017-02-28 08:31] pasqLisena commented on #28
I see @delahousse, however we almost never have times. Do not you think that we add "weight" to the data in this way?

[2017-02-28 09:47] delahousse commented on #28
I know, in the other project it was the same, but at the end, and I don't have all the rationales, we sticked with dateTime.
If we choose to use date, will will have to introduce this datatype in Protégé. I will try to find the rationales from this project.

[2017-03-14 10:49] delahousse opened #29 "Nouvelle release des données: sameAs manquant"
Nous avions des sameAs sur Bethoven, elles n'existent plus dans la nouvelle version

[2017-03-14 10:58] delahousse opened #30 "Gestion des dates et intervales"
Dans la nouvelle base il y a des changements dans la gestion des dates, j'ai qq remarques.
- pour la propriété P198i_was_born  on  a une valeur 1770-01-01, ce qui n'est pas la date de naissance mais la désignation de 1770. Je pense qu'il est plus propre et accepté par le format dateTime d'indiquer 1770 qui indique bien l'interval de l'année 1770. Dans le cas contraire on aura du mal a savoir qui e

[2017-03-14 16:36] rtroncy commented on #29
@delahousse J'ai renommé cette issue (c'est important de donner des titres et des descriptions précises car on ne s'y retrouve plus après quand il s'agit de chercher dans github)

Tu peux donner les URIs des ressources pour lesquelles tu penses qu'il manque des sameAs ? Quel sameAs manque-t-il exactement qu'il y avait avant ?

[2017-03-14 16:40] rtroncy commented on #30
Is this not a duplicate of the issue #28 ?

[2017-03-14 17:46] delahousse commented on #30
it is not a duplicate but it is in the same thread.
I move it in issue #28

[2017-03-14 17:46] #30 closed, assigned to rtroncy

[2017-03-14 17:48] delahousse commented on #28
Dans la nouvelle base il y a des changements dans la gestion des dates, j'ai qq remarques.

* pour la propriété P198i_was_born on a une valeur 1770-01-01, ce qui n'est pas la date de naissance mais la désignation de 1770. Je pense qu'il est plus propre et accepté par le format dateTime d'indiquer 1770 qui indique bien l'interval de l'année 1770. Dans le cas contraire on aura du mal a savoir qui es

[2017-03-14 17:51] delahousse commented on #29
http://data.doremus.org/artist/6963af5e-b126-3d40-a84b-97e0b78f5452

Mais en revenant dessus je vois les alignements que nous avions avant la release. J'ai du les rater tout à l'heure.

ok pour les noms des issues

[2017-03-14 17:51] #29 closed, assigned to rtroncy

[2017-03-17 11:17] pasqLisena commented on #28
It is weird. Basically in the [Virtuoso visualization](http://data.doremus.org/artist/40e88279-dc12-3dd0-8aeb-3b8dd41af302) we see `"1934-01-01"^^xsd:dateTime` while in the [rdf data](http://data.doremus.org/sparql?query=define%20sql%3Adescribe-mode%20%22CBD%22%20%20DESCRIBE%20%3Chttp%3A%2F%2Fdata.doremus.org%2Fartist%2F40e88279-dc12-3dd0-8aeb-3b8dd41af302%3E&output=text%2Fturtle) we have `"1934"^

[2017-03-17 12:49] delahousse commented on #28
I propose to use the type dateTime for all date independently of the granularity (year month date and time). I thing this is well documented in the time ontology and to have a universal way to describe more complex interval. We could have a time about this at the AG or before based on a previous study of the subject

We need to have expression of time / date which work with heterogeneous info comi

[2017-03-19 22:18] rtroncy commented on #28
@rtroncy did you ever see this behavior?

What you meant is that a ```xsd:gYear``` in the RDF data is converted into a ```xsd:dateTime``` once loaded in Virtuoso? This would not be the first time it happens. For example, Virtuoso is already changing the geosparql datatype into a built-in specific virtuoso one for historical reason (see the [issue](https://github.com/openlink/virtuoso-opensource/is

[2017-03-20 09:04] delahousse commented on #28
I am fine to use gMonth, gYear..
We will do more query on the database today as working for the training tool, will if every thing is fine when we query dates.
Have a good day
jean

[2017-03-20 09:12] pasqLisena commented on #28
Not exactly, the data in the db is good, it is more a problem of visualization (see the links on my last comment).

[2017-03-20 09:25] rtroncy commented on #28
Ah! But then we don't care about what Virtuoso displays in the automatically generated HTML pages. What matters is what people GET out of the knowledge base.

I believe we still need to alter the conversion (mard2rdf) process. I erroneously suggested you before to approximate a year (e.g. 1905) into a date (e.g. 01/01/1905). We should instead use the full list of xsd datatype, so a ```xsd:gYear```

[2017-03-20 09:39] pasqLisena commented on #28
I have the doubt that is not completely clear how we manage dates.
Basically we have this situation for artists:
[code]

For works (Expression Creation) we declare everything with a start and an end:
1. it covers a year

[code]

2. less trivial periods
[code]

**_We should change this behavior?_**

p.s. we have not the blank node there, I put it for readability

[2017-03-20 10:02] rtroncy commented on #28
For artists, don't forget to add a ```rdfs:label``` to the ```ecrm:E21_Person```. The birth / death date is correct, using a ```xsd:gYear``` when we only now the year OR using a ```xsd:date``` when we have the precise day/month/year information.

For works (expression creation), indeed, we should always use a ```ecrm:E52_Time-Span```. I suggest we also vary the values of ```ecrm:P79_beginning_is_q

[2017-03-20 10:58] pasqLisena commented on #28
Yes, it is done. This is an extract 😄 .

Ok I double check it.

[2017-03-20 11:23] delahousse opened #31 "Is rdf data duplicated in the triple store?"
Hello, on this query we find 2 lines for each results. We wonder if the triples are doubled in the data base ? if not what could be the reason ?
Jean
[Query_scores_published_in_vienna.txt](https://github.com/DOREMUS-ANR/knowledge-base/files/854589/Query_scores_published_in_vienna.txt)

[2017-03-20 11:41] delahousse commented on #28
I support all those proposals about date management

Jean

[2017-03-20 14:44] pasqLisena commented on #31
I put the query here for trackability:

[code]

I tried to remove slices of the query, and it seems that the duplicated part is the last one:
[code]

This can be caused by the fact that we load the info on the composer name twice: when we parse the artist file and when we find it as composer. Virtuoso should not merge the information? @rtroncy

Meanwhile, quick workaround: can you use `DISTINCT`?

[2017-03-20 14:48] delahousse commented on #31
yes, yes we can use Distinct. We are just careful to send you comments when
we use the data.
jean

[2017-03-20 23:31] rtroncy commented on #31
Virtuoso does not do anything magic :-) RDF graphs are naturally merged when they share common nodes. We do have deterministic rules to mint URIs identifying nodes and that's why we can anticipate graphs merging at conversion time. Even if we load twice the same triple statement (?s ?p ?o), it will be present just once in the db.

I don't understand why you have twice the statement that an event i

[2017-03-21 08:03] pasqLisena commented on #31
No it is the `ecrm:P131_is_identified_by` that is present twice

[2017-04-07 14:10] pasqLisena opened #32 "Alternate French name "Ut" for "Do" in the Keys controlled vocabulary"
Should we add "Ut < anything >"@fr as `skos:alternateLabel` for "Do < anything >"@fr?
e.g.  "Ut majeur" for ["Do majeur"](http://data.doremus.org/vocabulary/key/c).

In [wikipedia](https://fr.wikipedia.org/wiki/Do_majeur), they suggest it as alternative.

[2017-04-07 15:34] pierrechoffe commented on #32
Definitely !

[2017-04-15 20:18] rtroncy commented on #20
Can this issue be closed now?

[2017-04-15 20:20] rtroncy commented on #24
Has the metadata been systematically added to all our vocab? Can we close this issue?

[2017-04-15 20:24] rtroncy commented on #28
@pasqLisena Did you check it? Can we close this issue?

[2017-04-15 21:21] rtroncy commented on #31
So, no, it is not present twice. Like I said, by definition, in a triple store, a triple is always unique. You can try to insert the same triple 10 times, it will be just present once in the knowledge base. However, Virtuoso is actually a quad store ... i.e., when you load data, you load data in a graph.

Slightly modified version of your query:
[code]
The [results](http://data.doremus.org/sparql?

[2017-04-15 21:21] #31 closed, assigned to rtroncy

[2017-04-15 21:32] rtroncy opened #33 "[Radio France] Produce the Genre controlled vocabularies (TYPE_MUSICAL_DOC) for ITEMA3"
From Martine:

En ce qui concerne Itema3, il y a 2 vocabulaires pour désigner le genre musical : GENRE_OMU et TYPE_MUSICAL_DOC (qui contrôlent 2 champs différents, celui plus « documentaire », étant celui contrôlé par TYPE_MUSICAL_DOC, l’autre étant plutôt utilisé par les équipes de réalisation….), voir [la documentation](https://drive.google.com/file/d/0B07-9WSsWiOuUUk1NEpaZmxJa0U/view)

Je me re

[2017-04-18 22:28] pasqLisena commented on #28
It seems that they are comparable. I checked with the following query:
[code]

I will close it when I will implement this rule.

[2017-04-18 22:32] #32 closed, assigned to pasqLisena

[2017-04-19 08:38] pierrechoffe commented on #28
@pasqLisena can we discuss this point tomorrow ? in addition to the above, CRM dates are more flexible now, we may use E50 Date "1850" like so:
[code]
i.e.
[code]

[2017-04-19 08:41] rtroncy commented on #28
A time span should have a start and an end (otherwise, it is not a span). For the implementation, we should ultimately end up using the xsd datatypes, this is what SPARQL engines can manipulate, compare, order, etc.

Consequently, I don't see what value brings the type E50 Date. Ultimately, you will also not find a better representation of time than what OWL Time is doing.

[2017-04-19 08:47] pierrechoffe commented on #28
OK, this was just to let you know, but you are right, there is no real added value.

[2017-04-28 09:19] pasqLisena commented on #22
Doubt.

I think that the resulting unified vocabulary (let's consider the genre one as example), should contain:
- all the concept of the pivot (in this case IAML), with all its properties
- the concepts from the other vocabularies, taking care that concepts with `exactMatch` should be taken only once
- all the labels that are not `prefLabel`
- the value of `prefLabel` of the `exactMatch` ones (no

[2017-04-28 14:05] rtroncy commented on #22
Yes, we can add more ```skos:altLabel``` using all labels of the concepts that have been exact matched. I confirm all other points

[2017-05-04 10:22] pasqLisena commented on #28
Closed because moved to marc2rdf

[2017-05-04 10:22] #28 closed, assigned to pasqLisena

[2017-05-05 07:49] pasqLisena commented on #20
yes

[2017-05-05 07:49] #20 closed, assigned to manoach

[2017-05-11 12:03] pasqLisena opened #34 "Vocabulary of languages"
Create the vocabulary of languages of DIABOLO and align it to http://www.lexvo.org/

[2017-05-15 08:50] #24 closed, assigned to pasqLisena

[2017-05-15 08:52] pasqLisena commented on #24
The metadata has not been added to the vocabulary that already existed as SKOS (RAMEAU and MIMO)

[2017-05-15 09:10] #33 closed, assigned to pasqLisena

[2017-05-15 09:36] #34 closed, assigned to pasqLisena

[2017-05-17 14:41] pasqLisena opened #35 "Connect the catalogue vocabulary to artists"
Currently the catalogue vocabulary contains the reference to the artist as a string.

[code]

It could be useful connect it directly to the artist URI. It will be connected through [`modsrdf:subject`](http://www.loc.gov/standards/mods/modsrdf/v1/#subject) (but it is declared as abstract) or [`modsrdf:subjectComplex`](http://www.loc.gov/standards/mods/modsrdf/v1/#subjectComplex), keeping anyway the

[2017-05-17 14:53] pierrechoffe commented on #35
Excellent !

[2017-05-17 15:05] rtroncy commented on #35
Doing so, would mean that ```<http://data.doremus.org/artist/4802a043-23bb-3b8d-a443-4a3bd22ccc63>``` becomes a ```madsrdf:ComplexSubject``` which is not really intended. You would instead expect that this resource is of ```madsrdf:Name``` (i.e. SimpleType rather than a ComplexType).

Why do you use the ```modsrdf``` prefix and not the ```madsrdf``` one?

[2017-05-17 15:13] pasqLisena commented on #35
The default prefix for MODS is `modsrdf` (see [docs](http://www.loc.gov/standards/mods/modsrdf/v1)). MADS is sometimes used for ranges in MODS.
i.e. `mads:subjectName` does not exist, for example

What about using another property? You know anyone that suits the case from Dublin Core?

[2017-05-17 21:27] rtroncy commented on #35
+1 for using another property. I think that either [`foaf:primaryTopic`](http://xmlns.com/foaf/spec/#term_primaryTopic) or [`dc:subject`](http://dublincore.org/documents/dcmi-terms/#elements-subject) would be appropriate.

The full example could be something like:
[code]

[2017-05-18 17:00] #35 closed, assigned to pasqLisena

[2017-05-28 09:03] pasqLisena opened #36 "ISNI wrong wikipedia URI"
Retrieving the info from ISNI API, we realised that some wikipedia links are messy.
2 cases:
- the name contains a dash `-` [Lars-Erik Larsson](http://data.doremus.org/artist/9003abb1-f722-3891-a40b-e5f8fad9ca92)
  - the wikipedia URI is trunked before the dash (e.g. http://en.wikipedia.org/wiki/Lars)
  - see [ISNI page](http://www.isni.org/isni/0000000117785359) open _Notes_ tab
- homonyms (the t

[2017-05-28 12:28] rtroncy commented on #36
To be clear, those cases are incorrect alignments made by ISNI (incorrect alignments to Wikipedia). Who is maintaining ISNI? What is the procedure to report incorrect alignments or mistakes in the data? / cc @delahousse @FLERESCHE

[2017-05-30 11:55] FLERESCHE commented on #36
Bonjour

La base publique isni.org permet de signaler, sur chaque notice, une erreur dans les données (boîte jaune à gauche de la notice). Ces signalements sont pris en charge par la British Library (3 semaines par mois) et la BnF (1 semaine par mois)), membres de la Quality team ISNI internationale.

Pour faire un signalement "en masse" (si beaucoup d'ISNI sont concernés), il  est possible d'envo

[2017-05-30 14:59] pasqLisena commented on #36
I think we should sent an email, I will prepare it

[2017-06-01 12:11] pasqLisena commented on #36
I created a [table](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/data/wrong_artist_matches.tsv) with the wrong matches. I wrote to ISNI putting you in copy

[2017-06-08 15:24] manoach opened #37 "Pivot graph of expressions"
The equivalent expressions should have one URI in the pivot graph.

The questions are:

1. What is the pattern of these URIs?

The pattern can be : `http://data.doremus.org/expression/<uuid>` (see [#39](https://github.com/DOREMUS-ANR/marc2rdf/blob/master/URI.patterns.md))

2. Should we generate their UUID **randomly** or in a **deterministic** way?

I suggest not generating them **randomly** for n

[2017-06-08 17:14] rtroncy commented on #37
Yes, we need to mint a **new** URI for the expressions in the pivot graph, the pivot being the sum of all graphs minus the duplicates. Yes, the URI should follow the ```http://data.doremus.org/expression/<uuid>``` pattern and indeed, the UUID cannot be completely random, since we don't want to have URI collision. The UUID is generally a hash function of some seed, so the question is what should be

[2017-06-23 09:24] rtroncy commented on #36
Can we close this issue now @pasqLisena that ISNI has replied?

[2017-06-23 16:01] pasqLisena commented on #36
I will close it during the next export (file in the [data folder](https://github.com/DOREMUS-ANR/knowledge-base/tree/master/data) should be regenerated).

[2017-07-06 10:04] #36 closed, assigned to pasqLisena

[2017-09-07 15:23] pasqLisena opened #38 "[Keys] Adding new terms in the vocabulary or new properties in the ontology?"
I would like to add few more properties on keys vocabulary.

I am speaking about the tonic and the 'mode' as is done in the [Music Ontology keys vocabulary](http://purl.org/NET/c4dm/keys.owl), with the properties `keys:tonic` and `keys:mode`.

Moreover, I think it can be useful -- i.e. for recommending purpose, it adds an additional edge between two keys -- to add the [relative](https://en.wikiped

[2017-09-07 20:35] rtroncy commented on #38
+1 for re-using the ```keys``` vocabulary (```mode``` and ```tonic``` properties and values).

+1 as well for adding those 3 new properties in the DOREMUS ontology

[2017-09-11 16:50] pasqLisena opened #39 "[IAML/GENRES] Adding minimal hierachy"
Hello,
I would like to add the following relations to the vocabulary and create 2 new concepts.
The reason are more or less the same of the ones of the issue #38 .

[code]

My points:
- `lit` has the note "When any more specific code can’t be used"
- `vrl`, `lod`, `lyh` have a skos:note "Liturgical", while `lid` has it in the name
- lots of concepts have the skos:note "Instrumental" or "Vocal"

I

[2017-09-11 20:46] rtroncy commented on #39
I'm not questioning the need for those new ```skos:Concept```. However, I found awkward to define those new terms in the ```<http://data.doremus.org/vocabulary/iaml/genre/>``` concept scheme because there are not (yet) defined in IAML.

Should we try first to ask IAML whether they would be interested to add those concepts too? If not, should we not define those concepts in the reconciled concept s

[2017-09-12 08:31] pasqLisena commented on #39
It would be interesting. It needs a discussion in the modelling group.

Yes, but the pivot graph does not exists in this moment :)

[2017-09-12 08:58] rtroncy commented on #39
@kgtodorov Can you let us know the status regarding the validation of all alignments between controlled vocabularies, and in particular, for genres and mop? Do we have a chance to have a reconciled graphs before the next general meeting?

[2017-09-12 11:29] kgtodorov commented on #39
Luckily, my student in charge of that is back to work after some hard times. We have now all new alignments (mop and genres), which are of significantly higher coverage than the old ones thanks to the new algorithm using directly SKOS (so no conversion to OWL). However, we need to go again through the validation process before we leverage the final alignments, this would definitely take more time

[2017-09-12 12:15] pasqLisena commented on #39
So I postpone it after #22

[2017-09-29 12:14] pasqLisena opened #40 "Add license"
Add license CC BY 4.0 to the vocabularies:
- [x] in the ttl files
- [x] in the readme

[2017-10-05 14:46] pasqLisena commented on #38
We will add the 3 new properties in the controlled vocabulary.

- http://data.doremus.org/vocabulary/key/relative
- http://data.doremus.org/vocabulary/key/parallel
- http://data.doremus.org/vocabulary/key/closelyrelated

[2017-10-05 14:53] pasqLisena commented on #39
Modeling meeting decisions:
- add it in the pivot vocabulary
- propose to IAML the adoption of this hierarchy (I am writing an email with Francoise)

[2017-10-05 18:51] rtroncy commented on #38
Hum, you're adding those 3 terms in the key vocabulary. I thought that we need properties defined in the DOREMUS ontology to express relationships between keys, e.g. between 'c' and 'am'. How will <http://data.doremus.org/vocabulary/key/relative> be able to express this relation?

[2017-10-06 08:22] pasqLisena commented on #38
I would like to take inspiration from what MusicOntology is doing with `keys:mode` and `keys:tonic`.
- RDF xml version: http://purl.org/NET/c4dm/keys.owl
- TTL version excerpt:
[code]

In a nutshell, the properties are not becoming part of the ontology, but they remains at vocabulary level. What do you think?

[2017-10-06 20:17] rtroncy commented on #38
<http://purl.org/NET/c4dm/keys.owl> is an OWL ontology. The document contains definitions of OWL classes, properties and instances.

<http://data.doremus.org/vocabulary/key/> is a SKOS concept scheme. The document contains definitions of SKOS concepts that belong to this concept scheme. Adding definition of OWL properties in this document would be an error. Why don't you want to define those prope

[2017-10-07 19:40] pasqLisena commented on #38
Short answer: "bureaucratic problems". :)
Adding them to the Ontology means take care of their definition, documentation, creation of the examples, etc.

This was not clear to me indeed.

Should we try to propose again it to the modelling group (via mail)?
I can prepare all the definitions before doing it (as pull request maybe).

[2017-10-08 21:36] rtroncy commented on #38
Yes. Re-using straight away http://purl.org/NET/c4dm/keys.owl would make all keys defined in our vocabulary as owl instances in addition to ```skos:Concept``` which is not necessarily advisable. I would suggest the modeling group to endorse the creation of those 2? new properties.

[2017-10-08 22:31] pasqLisena commented on #38
3 properties:
1. `mus:Uxx_has_relative_key`
1. `mus:Uxx_has_parallel_key`
1. `mus:Uxx_has_closely_related_key`

Or you mean also redefining these ones?
1. `key:tonic`
2. `key:mode`

[2017-10-09 06:25] rtroncy commented on #38
I meant creating the **3** properties: ```mus:Uxx_has_relative_key```, ```mus:Uxx_has_parallel_key```, ```mus:Uxx_has_closely_related_key```. We don't need tonic and mode, do we?

[2017-10-09 09:38] pasqLisena commented on #38
Yes but I was relying on your previous comment:

Is it still valid? Or you had a better look to the `keys` vocabulary?

[2017-10-09 12:27] rtroncy commented on #38
OK, I see and I was confused. My starting point is what you exactly proposed in the code snippet in https://github.com/DOREMUS-ANR/knowledge-base/issues/38#issue-255976801

When adding the statements:
[code]
you made the inference that ```<http://data.doremus.org/vocabulary/key/c>``` is an instance of keys:Key in addition to be a skos:Concept. Your first statement could therefore be:

[code]

When

[2017-10-11 10:09] pasqLisena opened #42 "[Mop Diabolo] Link to GeoNames"
Replace the strings of the places (in `dcterms:coverage`) with the link form GeoNames.

Example: https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/mop-diabolo.ttl#L749

[2017-10-11 13:02] rtroncy commented on #42
+1 ! The "how" is important ... automatically with a validation workflow? Do you know how you will handle this?

[2017-10-11 20:28] pasqLisena commented on #42
The "how" is through the API of GeoNames :)
I think I am going to integrate them in the "string2uri" module.

They are [not so many](http://data.doremus.org/sparql?default-graph-uri=&query=select+DISTINCT+%3Fo+where+%7B+%3Fs+dct%3Acoverage+%3Fo+%7D&format=text%2Fhtml&timeout=0&debug=on), so we can double check directly the differences in labels.

[2017-11-07 15:42] #40 closed, assigned to pasqLisena

[2018-01-03 12:27] #38 closed, assigned to nobody

[2018-01-17 10:51] pasqLisena opened #43 "[Function] Assign to each concept the context of usage"
[Vocab on repo](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/vocabularies/function.ttl) - [Table](https://docs.google.com/spreadsheets/d/1ina81P-i_5Y8vyv4mEaNoz1zTcIVQhF5vyhedgkGNFI/edit?usp=drive_web)

We need an easy way to understand, checking on the function (i.e. composer, conductor, ...), to which part of the music production chain (i.e. expr. creation, performance,...) attach t

[2018-01-17 10:58] pasqLisena commented on #43
Alternative: make an external table with this relationships

[2018-01-17 11:31] rtroncy commented on #43
I think it would be better to not use an external table but to encode this information in the SKOS file describing the concept scheme, preferably using skos-only properties such as ```skos:scopeNote``` or simply ```skos:note```

[2018-01-17 12:39] pasqLisena commented on #43
+1 for `skos:scopeNote`

[2018-01-17 12:41] pasqLisena commented on #43
About the task 1, here an extract of the table [Suivi des Referentiels](https://docs.google.com/spreadsheets/d/1eRnULs1Ke9zgsYtGLC4qZ5LITGYEIHUvKkrntaVPeLY/edit#gid=0):

[2018-01-17 13:08] rtroncy commented on #43
@ccecconi Why is it written "4 référentiels" if there are 6 bulleted points?

[2018-01-17 13:44] ccecconi commented on #43
Good question.... I can't remember why we wrote "4 référentiels"... I think the information in this file is a little old. For exemple, I don't think the difference between the representative and the none-representative expression is still accurate. It may be better to distinguish musical expressions and none-musical expressions. Moreover, we need functions linked to F25 Performance plan.

Somethin

[2018-01-17 15:54] #42 closed, assigned to pasqLisena

[2018-01-18 13:44] pasqLisena commented on #43
Solution from @delahousse: use the `skos:Collection` for grouping those Concepts.

[2018-01-18 13:56] pasqLisena commented on #43
Wanted collections:
- Musical work
- Generic creative work
- F25 Performance Plan
- F29 Recording Event
- M29 Editing Event
- M28 Performance individuelle / M27 Foreseen Individual Performance
- F30 Publication Event

[2018-01-18 14:56] rtroncy commented on #43
During the general assembly, we decided to rely on [SKOS collections](https://www.w3.org/TR/skos-primer/#seccollections) to model contexts. @pasqLisena will provide an initial set of contexts to be validated

[2018-01-18 21:57] rtroncy commented on #43
@pasqLisena Can you provide short name for each collections?

[2018-01-19 09:00] pasqLisena commented on #43
The collections can have those names:
- `musical_work`
- `creative_work`
- `performance_plan`
- `recording`
- `editing`
- `performance`
- `publication`

I am imagining something like:
[code]

[2018-01-22 11:16] manoach commented on #37
Finally, the UUID will be generated in the same way as for the expressions of each of the three institutions ([issue #16](https://github.com/DOREMUS-ANR/marc2rdf/issues/16)): dbName + recordId + classCode

[2018-01-22 12:50] pasqLisena commented on #37
Do you mean this instead?
(dbName_1 + recordId_1) + (dbName_2 + recordId_2) + classCode

[2018-01-22 12:53] manoach commented on #37
(dbName_1 + recordId_1) + (dbName_2 + recordId_2) + classCode

Yes, this is it :)

[2018-01-22 13:50] manoach commented on #37
For more details: we have 3 cases

**Case 1**: A resource has no equivalent (no link _**owl: sameAs**_ with another resource)

`dbName_1 + recordId_1 + classCode` ... Which will generate exactly the same URI of the resource in question.

**Case 2**: 2 equivalent resources from 2 institutions

`(dbName_1 + recordId_1) + (dbName_2 + recordId_2) + classCode`

**Case 3**: 3 equivalent resources from 3

[2018-01-22 14:08] kgtodorov commented on #37
In the case when a given expression exists in only one base, this scheme will lead to the creation of the same URI for that expression in the pivot graph. Don't we prefer that each expression has its 'pivot' uri, which is different from the one(s) found in the institution bases (and linked to these via owl:sameAs)?

[2018-01-22 14:09] manoach commented on #37
As @kgtodorov has noticed, there is a small problem in **case 1**:

The generated URI in the pivot graph will be exactly the same as that of the resource that has no equivalent. In this case, we will not be able to add an **_owl:sameAs_** link to the resource itself.

To ensure different UUIDs, the seed could be: `"pivot" + dbName_1 + recordId_1 + classCode` ... as it was mentioned by @rtroncy .

[2018-01-22 14:13] kgtodorov commented on #37
The question is if we want to have specific 'pivot' URIs for all expressions, or those that are unique can be used with their institutional URIs in the pivot.

[2018-01-22 14:21] pasqLisena commented on #37
I think the final graph should contain at least one "line" (pivot entity) for each distinct work.
In other words:
-  if there is a match, it would contain `<PIVOT_URI> owl:sameAs <BASE1_URI>, <BASE2_URI>.`
- otherwise, it would contain anyway `<PIVOT_URI> owl:sameAs <BASE1_URI>`. It gives no information, but I think it will simplify a lot the queries.

About, URI, I think it doesn't really matter

[2018-01-22 15:00] rtroncy commented on #37
As @pasqLisena said, don't try to burry semantics in a URI. This is just an identifier. It has to be unique and deterministic. This is why I proposed to use the term 'pivot' in the construction.

@manoach There are more than 3 cases, as you wrote in [this comment](https://github.com/DOREMUS-ANR/knowledge-base/issues/37#issuecomment-359428395) since we have up to 6 databases to interconnect (once D

[2018-01-22 15:02] manoach commented on #37
@rtroncy Yes, I agree with you ;)

[2018-01-22 15:30] kgtodorov commented on #37
The question is not one of semantics, but simply of knowing whether we create a uri in the pivot for unique expressions. I think it has been cleared up now.

[2018-02-16 13:27] ccecconi commented on #43
I've some trouble to understand the expression "creative work". Do you mean every work which is not a musical one ? If so, is it ok for you if there are different types of "creative work" (choregraphic, lighting, etc.) or do you prefer to have a specific term for each type of work ?

[2018-02-16 17:38] pasqLisena commented on #43
I prefer just one term. For me, the meaning is: create a new work, connect it to the musical one

[2018-03-11 09:59] pasqLisena commented on #43
fixed in 60ae94a0970d774570827ffe0d04ca381c5c9d6f

[2018-03-11 09:59] #43 closed, assigned to pasqLisena, ccecconi

[2018-03-11 10:28] pasqLisena opened #44 "[Function] Move parts from IAML MoP vocabulary"
Parts of IAML MoP vocabulary describe indeed functions:
- [Conductors](http://data.doremus.org/vocabulary/iaml/mop/q) and narrower
- [Other performers](http://data.doremus.org/vocabulary/iaml/mop/z) and narrower

Most of them are already in the function vocabulary ([table](https://docs.google.com/spreadsheets/d/1ina81P-i_5Y8vyv4mEaNoz1zTcIVQhF5vyhedgkGNFI)), so I suppose that the modelling group a

[2018-03-12 16:30] pasqLisena opened #45 "[MoP] Terms"
`band magnetique` ([usages](http://data.doremus.org/fct/facet.vsp?qxml=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20%3F%3E%3Cquery%20inference%3D%22%22%20same-as%3D%22%22%20view3%3D%22%22%20s-term%3D%22%22%20c-term%3D%22%22%20agg%3D%22%22%3E%3Ctext%3Eband%20magn%C3%A9tique%3C%2Ftext%3E%3Cview%20type%3D%22text-d%22%20limit%3D%2220%22%20offset%3D%22%22%20%2F%3E%3C%2Fquery%3E)) is an `a

[2018-03-12 16:52] ccecconi commented on #44
We chose to keep only the terms that could be used in our data --> IAML is a different vocabulary.
Why should we keep the same functions ?

ok. We'll do that

ok.  We'll do that

what do you want to say here ? We'll never use these terms as MOPs in our data but they are part of the IAML vocabulary. Do we really have to remove them ? In that case, what's the point of linking them with our functions

[2018-03-12 17:39] pasqLisena commented on #44
I will refer here to "MoPs that are actually functions" as "bad MoPs".

Why should we keep the same functions ?

Not clear the question to me, but I interpret it as "The function vocabulary is autonomous, it follows different rules. So it is normal that some bad MoPs do not appears as function".

This is fair enough BUT there is a practical issue:
what will happen to concepts used so far as bad Mo

[2018-03-20 14:00] #23 closed, assigned to kgtodorov

[2018-03-20 14:00] #22 closed, assigned to kgtodorov

[2018-03-26 15:21] #37 closed, assigned to kgtodorov

[2018-04-09 13:11] pasqLisena opened #46 "[Function] Improvements"
- [x] Add labels to Collections
- [x] Delete scope notes
- [x] Add the definitions using ```skos:definition```

@pasqLisena to confirm that we don't use ```dc:description``` in the other vocabs, do we?

[2018-06-13 14:11] ccecconi commented on #44
The BnF doesn't use these codes in the bibliographic records.

We agree. We should remove :
- this term and its narrower terms: http://data.doremus.org/vocabulary/iaml/mop/q
- This  term and its narrower terms: http://data.doremus.org/vocabulary/iaml/mop/z

No

[2018-06-18 08:59] pasqLisena opened #47 "Missing U54"
Missing connection between Performed Expression and SC Expression through `mus:U54_is_performed_expression_of` for premieres (e.g. http://data.doremus.org/expression/d2a4bd67-1e77-31f8-acc2-e82d1efaa70d)

[2018-06-21 09:13] pasqLisena commented on #46
We don't.

[2018-06-21 12:00] #46 closed, assigned to pasqLisena

[2018-06-22 11:43] ccecconi commented on #45
It's a mistake. This should'nt be in our data. Just keep "bande magnétique"

[2018-06-22 12:32] #45 closed, assigned to nobody

[2018-06-28 07:35] rtroncy opened #48 "DOREMUS should be a new bubble in the Linked Open Data cloud"
LOD cloud famous picture has been updated end of May 2018, http://lod-cloud.net/. We fulfill all conditions to make DOREMUS part of it. This will be great in anticipation of the presentation of the resources at ISWC 2018.

Requirements are:
 - [x] must be resolvable http:// (or https://) URIs.
 - [x] must resolve, with or without content negotiation, to RDF data in one of the popular RDF formats (

[2018-07-10 10:36] kgtodorov opened #49 "Statistics on the bases"
@pasqLisena  Statistics shown in the readme files of the data bases often regard the number of files in the archive, and not the number of entities. E.g., itema3.item.tar.gz contains  2296 files, but much more entities (of type F22).

[2018-07-10 10:51] kgtodorov opened #50 "Links from Isni to MusicBrainz"
@TheMarmottin
4319 links to MusicBrainz that should be added on DOREMUS artists (identified by Jérôme Roy  through the  VIAF identifiers, restricting to doremus ID with no MB link):

https://loujine.github.io/musicbrainz-dataviz/doremus.html

[source page](https://github.com/loujine/musicbrainz-dataviz/blob/master/docs/doremus.html) - [jupyter notebook](https://github.com/loujine/musicbrainz-datav

[2018-07-10 16:07] rtroncy commented on #49
@kgtodorov You're talking about https://github.com/DOREMUS-ANR/knowledge-base/blob/master/data/itema3/README.md? Note that this file has NOT been updated recently, so you should not necessarily trust it. Furthermore, the latest dump in the repo has not been loaded in the endpoint so you will not get the same number if you count locally in the file and if you sparql query the endpoint.

Having said

[2018-07-16 09:40] pasqLisena commented on #49
True, but the main entity described in Itema3 is not F22 but F31 (Concert).
I am counting the F31 in this case.

I am counting the main entity (i.e. F31)

[2018-07-16 09:57] pasqLisena commented on #50
It would be worth to convert that [table](https://loujine.github.io/musicbrainz-dataviz/doremus.html) (does a csv version exists?) in rdf, in order to be uploaded in the triplestore.

[2018-07-16 10:17] TheMarmottin commented on #50
Well there is a CSV version now. I'm going to work on converting it in rdf, it should'nt take long.

[2018-07-16 12:20] TheMarmottin commented on #50
[There it is.](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/data/isni/viaf_mb_mus_artists.rdf) I only wrote the ids, not the names, let me know if they are needed. I'll get working on modifying the actual artists files.

[2018-07-16 13:01] pasqLisena commented on #50
Great :)
Names are not required, they are already in the triplestore.

What do you mean?

[2018-07-16 13:07] TheMarmottin commented on #50
I meant editing the 49 artists_x.ttl files, to add the sameAs property to their corresponding MusicBrainz id (for the ~4k artists that are concerned)

[2018-07-16 13:10] TheMarmottin commented on #50
Oh by the way, I noticed that quite a lot of these artists have their VIAF id defined twice, such as this one :
[code]
Is that intended ? If not, I can erase one of the two, since i'm going to parse all the artists anyway, might as well do it in one run.

[2018-07-16 13:10] rtroncy commented on #50
Don't do this @TheMarmottin. This is unnecessary. This is better to maintain original files close to the source data and a sameAs file

[2018-07-16 13:11] TheMarmottin commented on #50
Very well then :)

[2018-07-16 13:25] pasqLisena commented on #50
so is this task complete? can we close the issue?

[2018-07-16 13:47] rtroncy commented on #50
Almost.  @pasqLisena Can you remind us how the artists_x files in the [folder](https://github.com/DOREMUS-ANR/knowledge-base/tree/master/data/isni) are generated? And why some descriptions contain two equal sameAs links to the same VIAF URI?

[2018-07-16 14:28] pasqLisena commented on #50
They have been generated by a script that interrogates isni. Anyway they will be no more necessary (because of the new algorithm).

Eventually, the viaf id can be expressed in 2 different part of the isni record. If they are coherent, I would not consider this a problem.

[2018-07-16 14:38] rtroncy commented on #50
Indeed, this folder will not be loaded in the triple store since the new strategy will directly look into isni to generate doremus artist URI. The [sameAs file](https://github.com/DOREMUS-ANR/knowledge-base/blob/master/data/isni/viaf_mb_mus_artists.rdf) created by @TheMarmottin is useful and should be loaded to add more links to music brainz.
@pasqLisena Should you clean up the repo and delete tho

[2018-07-18 14:58] rtroncy opened #51 "SKOS-ify 3 new controlled vocabularies"
- types d'œuvres : https://docs.google.com/spreadsheets/d/1hnauQwnjz9HJLXTGG3AGnCqLJlWNI-EsTpp6UaUVVbU/edit#gid=0
- techniques vocales et instrumentales : https://docs.google.com/spreadsheets/d/1YC0UwLIfdGwVxd935AQPY5NwXfVRBBFs-RTHTYs2dU0/edit#gid=0
- conditions de représentation / exécution : https://docs.google.com/spreadsheets/d/1vSdGOApjlPcV22GkmpuxvHjtSELWDcP_fWWVUPVvriM/edit#gid=0

[2018-07-19 13:05] #51 closed, assigned to pasqLisena

[2018-07-19 15:05] ccecconi opened #52 "SKOS-ify 4 new controlled vocabularies"
- [x] Responsibility of performers: https://docs.google.com/spreadsheets/d/1XgjBsAXja42BQlEU4pRquaz87erpkxrhXVVJDn7FOX4/edit#gid=623392783
- [x] Playing Speed: https://docs.google.com/spreadsheets/d/1Px7nxFd03Z08XFElD0l3QEvtE7yy-6UmVbRNJkDZW8c/edit#gid=1037416538
- [x] Types of Recording Equipment: https://docs.google.com/spreadsheets/d/1HkZ_kBvGRgIjwKEphcbazeyEMwNsg5HeIj-ShV45w1s/edit#gid=4533473

[2018-07-19 15:22] rtroncy commented on #52
@ccecconi Quel est le prefLabel des concepts 'acoustique' et 'électrique' (lignes 6 et 7 de https://docs.google.com/spreadsheets/d/1HkZ_kBvGRgIjwKEphcbazeyEMwNsg5HeIj-ShV45w1s/edit#gid=453347354) ?

[2018-07-19 15:28] ccecconi commented on #52
Les preflabel sont bien acoustique et electrique mais ils sont des termes spécifiques d'analogiques. La 2e colonne était un reliquat de l'ancienne mise en page. C'est corrigé.

[2018-07-19 15:36] ccecconi commented on #52
- Performer status est également terminé : https://docs.google.com/spreadsheets/d/1fYVdqx2o8FnptnxQrFYoodFX9av_1bXbeK0rmwiJYpk/edit#gid=0

[2018-07-20 12:14] #52 closed, assigned to pasqLisena

[2018-08-03 17:54] ccecconi opened #53 "SKOS-ify 5 new controlled vocabularies"
We finished 5 new vocabularies :
- Colour content : https://docs.google.com/spreadsheets/d/1ft-TLVkkQFlIqJx6j7lLH6buZl99NV6U8D5r3awDflw/edit#gid=883914976
- Types of identifier : https://docs.google.com/spreadsheets/d/1ritEP-y3b3nO8OXTjpPkFbzjFx7nkWKL2LU_v5u8Kp4/edit#gid=747449586
- Carrier types : https://docs.google.com/spreadsheets/d/1rkpq0FnH3MTp4kJ_rw1vCWUWeRLupN_vL6OVB_JZYfA/edit#gid=2103668

[2018-08-06 11:18] pasqLisena commented on #53
closed in fb80e6f

[2018-08-06 11:18] #53 closed, assigned to nobody

[2018-09-10 14:17] ccecconi opened #54 "Vocabulaire "Mode de représentation/exécution" à convertir en SKOS"
https://docs.google.com/spreadsheets/d/1UCXCcPqBuK3qzEYrELzCZlUUghzvlo6k1d0l9DzOiNc/edit#gid=0

[2018-09-10 16:25] rtroncy commented on #54
Est-ce que ce vocabulaire est utilisé dans les règles de mappings ?

[2018-09-10 17:44] ccecconi commented on #54
Oui, mais ce n'est pas un élément essentiel.

[2018-09-11 09:35] #54 closed, assigned to rtroncy

[2018-09-17 15:18] pasqLisena opened #55 "[CATALOG] Change request"
- [x] `modsrdf:titlePrincipal` : y mettre toutes les titres apparaissant également dans les colonnes `mods:abstract` dans les différentes langues et garder le qualificatif de langue.
- [x] `mods:title` : supprimer ce champ (la citation abrégée du catalogue devra être transférée dans un nouveau champ)
- [x] `modsrdf:noteGroup` (à créer)
      - `modsrdf:noteGroupType` = "citation abrégée utilisée à

[2018-09-18 12:53] pasqLisena commented on #55
Reference file: https://drive.google.com/file/d/1jG6yZZYP3FgOhIn3qoDOPA3cgU_RNmFS/view?usp=sharing

[2018-09-27 09:42] TLM-CIMU opened #56 "Visualisation des vocabulaires contrôlés avec SKOSMOS"
Pour visualiser avec Skosmos chacun des vocabulaires contrôlés de façon indépendante, il est nécessaire d'accéder à un graphe nommé isolant chaque vocabulaire.
Dans le graphe tel qu'il a été créé, on ne dispose que du graphe nommé http://data.doremus.org/vocabulary.

Il faudrait disposer d'un graphe nommé par vocabulaire contrôlé.
Ci-dessous la liste des graphes nommés à définir et construire.

ht

[2018-09-28 07:55] TLM-CIMU commented on #56
Les vocabulaires MIMO (thésaurus des instruments de musique et classification H&S) étant aussi chargés dans votre entrepôt, j'aimerais qu'un graphe nommé désignant chacun de ces vocabulaires soit créé (http://www.mimo-db.eu/InstrumentsKeywords et http://www.mimo-db.eu/HornbostelAndSachs) : cela me permettra de tester Skosmos en connexion avec des entrepôts Virtuoso différents. Je dispose d'une ver

[2018-10-01 06:39] rtroncy opened #57 "[DIABOLO] Problem with the 'hang' instrument label"
Pointed out by Jérôme Roy (MusicBrainz):

We have created this very long URI: http://data.doremus.org/vocabulary/diabolo/mop/le_joueur_de_hang_pose_generalement_linstrument_sur_ses_genoux_pour_jouer._il_fait_ensuite_resonner_le_hang_en_tapant_dessus_avec_la_main_et_les_doigts._linstrument_peut_se_jouer_a_deux_mains_et_permet_alors_datteindre_plusieurs_notes and the label of this instrument can pro

[2018-10-01 06:47] rtroncy opened #58 "[Virtuoso] Configuration problem, some permalinks are localhost"
On any page generated by the Virtuoso facetted browser, e.g. http://data.doremus.org/expression/a07eb3c7-7e51-3bab-a21a-27b32fea61e8, when clicking on the hyperlink "associated with source document(s)", one always ends up in a page that redirects to http://localhost:8870/fct/rdfdesc/usage.vsp?g=

I guess that there is a configuration process so that permalinks being generated are not localhost.

[2018-10-01 10:29] pasqLisena commented on #57
This is the result of a wrong placement of text fields in the source excel.

In facts, that long string is a comment for the concept that you correctly spotted and pointed

[2018-10-01 10:37] #57 closed, assigned to pasqLisena

[2018-10-02 19:57] loujine commented on #57
Thanks. Next time I'll open the ticket directly (not sure what was the correct project)

[2018-10-03 12:57] TLM-CIMU commented on #56
Petite précision liée à mon expérience de Skosmos déjà appliqué aux vocabulaires MIMO :
si, pour chaque vocabulaire, on crée un graphe nommé <http://data.doremus.org/vocabulary/xxx> (xxx : nom du vocabulaire), il faudra que dans ce vocabulaire existe un ConceptScheme clairement identifié par une URI du type <http://data.doremus.org/vocabulary/xxx#> ou <http://data.doremus.org/vocabulary/xxx/yyy> (

[2018-10-17 15:40] #55 closed, assigned to nobody

[2018-10-17 16:04] #50 closed, assigned to pasqLisena

[2018-10-17 16:18] #47 closed, assigned to pasqLisena

[2018-10-18 13:08] #56 closed, assigned to pasqLisena

[2018-10-18 13:10] TLM-CIMU commented on #56
Thanks a lot Pasquale. I'll keep you informed of my further experiments.
Thierry

[2018-10-18 13:11] pasqLisena commented on #56
Wait a bit :) some issues in loading

[2018-10-18 13:12] TLM-CIMU commented on #56
Ok !

[2021-01-07 17:51] #58 closed, assigned to pasqLisena